extends layout

block content
  #content
  div.container
    div.row
      h3 Welcome to the prototype for Object Oriented Journal!
      hr
      p The intention behind this application is to explore a new type of journaling.
      - There are three main motivating factors:
      //- ol
      //-   li Often the intention of journaling is to give one a coherent view of oneself over time.
      //-   - However this is often difficult since it is hard to refer back to what you have previously written
      //-   - while you are writing a new entry

