extends layout

block content
  script(type='text/javascript').
    $( document ).ready(function() {
      $('#data').load('/html/about.html');
    });

  div.container
    div.row
      h3 Welcome to the prototype for Object Oriented Journal!
      hr
      div#data
