extends layout

block content
  #content
  div.container
    div.row
      h3 Welcome to the prototype for Object Oriented Journal!
      hr
      p The intention behind this application is to explore a new type of journaling.
