extends layout

block content
  #content
  div.container
    h1= title
    p Welcome #{name}
    p Log a new entry
    div.row
      div.col-md-6
        form#form-submit.form-horizontal(role='form', action='/', method='post')
          div#fields
            div.form-group
              input#type-input.form-control(name='type')
            div#inner
          div#submit
            div.form-group
              div.col-sm-offset-10.col-sm-2
                button.btn.btn-default#submit-button(type="button", onclick="submitForm();") submit
      div.col-md-6

