doctype html
html
  head
    title= title
    link(rel='stylesheet' href='//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css')
    link(rel='stylesheet' href='//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css')
    link(rel='stylesheet' href='/css/main.css')
    - each s in scripts
        script(src=s)

  body
    block content