doctype html
html
  head
    title= title
    link(rel='stylesheet' href='//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css')
    link(rel='stylesheet' href='//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css')
    link(rel='stylesheet' href='/css/main.css')

    script( type="text/javascript", src="//code.jquery.com/jquery-1.10.1.min.js" )
    script( type="text/javascript", src="//code.jquery.com/ui/1.10.4/jquery-ui.js" )
    script( type="text/javascript", src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js" )
    - if (script)
      script(src=script)

  body
    nav.navbar.navbar-default.navbar-static-top(role="navigation")
      div.container-fluid
        div.navbar-header
          button(type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href="/") Home
        div.collapse.navbar-collapse#navbar-collapse-1
          ul.nav.navbar-nav
            li
              a(href="new") New Entry
            li
              a(href="query") Query Journal
            li
              a(href="about") About


          - if (name)
            ul.nav.navbar-nav.navbar-right
              li
                a(href="/logout") Logout

            p.navbar-text.navbar-right
              | Signed in as&nbsp
              a.navbar-link(href="#") #{name}



    block content